@font-face {
    font-family: 'AsapM';
    src: local("Asap Medium"), url("fonts/Asap-Medium.ttf") format('truetype');
}

@font-face {
    font-family: 'AsapB';
    src: local("Asap Black"), url("fonts/Asap-Black.ttf") format('truetype');
}

@font-face {
    font-family: 'AsapTI';
    src: local("Asap Thin Italic"), url("fonts/Asap-ThinItalic.ttf") format('truetype');
}

body {
    font-family: AsapM;
    display: flex;
    font-size: clamp(2vh, 3vw, 3vh);
    flex-direction: column;
    align-items: center;
}

h1 {
    border: solid 0.7vw var(--varcolor);
    margin-top: 10vw;
    border-radius: 2vw;
    background-color: white;
    padding: 2vw 4vw;
    color: var(--varcolor);
    position: relative;
    z-index: 20;
}

main {
    display: inline-block;
    border-radius: 2vw;
    padding: 10vw 4vw 5vw;
    position: relative;
    top: -10vw;
    background-color: rgb(255, 255, 255, 0.93);
    width: clamp(40vw, 21em, 85vw);
}

form {
    display: flex;
    justify-content: center;
    gap: 1vw;
}

form:first-of-type {
    font-size: 1.2em;
    margin-bottom: 1.8vw;
    justify-content: space-between;
}

.timeField {
    width: 10%;
}

input[type="checkbox"] {
    accent-color: var(--varcolor);
}

figure {
    display: none;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: -11.5vw;
}

progress {
    height: auto;
    width: auto;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    --color: var(--varcolor);
    --background: white;
    border: none;
    background: var(--background);
    transition: all .5s linear;
}

progress::-webkit-progress-bar {
    background-color: white;
}

progress::-webkit-progress-value {
    background-color: var(--varcolor);
}

progress::-moz-progress-bar {
    background: var(--color);
}

.gridContainer {
    display: grid;
    grid: 45vw 45vw / 45vw 45vw;
    gap: 1vw;
}

figcaption {
    z-index: 20;
    background-color: white;
    color: var(--varcolor);
    padding: 3vw;
    border-radius: 1vw;
    position: relative;
    top: 50.8vw;
    font-size: 1.3em;
    outline: solid 0.5vw var(--varcolor);

}

#b1 {
    order: 1;
}

#b2 {
    order: 3;
}

#b3 {
    order: 4;
}

#b4 {
    order: 2;

}

.end-message {
    font-size: 2em;
    background-color: var(--varcolor);
    color: white;
    padding: 16vw;
    border-radius: 3vw;
}

button {
    font-family: AsapM;
    font-size: 0.9em;
    background-color: var(--varcolor);
    border-radius: 3px;
    border: solid rgb(102, 215, 102) 0.1em;
    padding-inline: 3vw;
}

main button:hover {
    background-color: rgb(144, 238, 144, 0.8);
}

button:disabled {
    background-color: rgb(166, 241, 166);
    border-color: rgb(144, 238, 144, 0.6);
}

a {
    color: darkgray;
    text-decoration: none;
}

a:hover {
    color: lightgreen;
}

figure button {
    position: relative;
    top: -35vw;
    border: none;
    background-color: white;
    color: var(--varcolor);
    width: 20%;
    height: 2.3em;
    font-size: 1.3em;
    outline: solid 0.5vw;
    border-radius: 0.5vw;
}

.paused {
    color: white;
    background-color: var(--varcolor);
    outline: solid 0.5vw;

}

input {
    font-family: AsapM;
    font-size: 0.9em;
    text-align: center;
    border: solid 0.1em var(--varcolor);
    border-radius: 0.2em;
}

input:focus {
    background-color: rgb(144, 238, 144, 0.4);
    outline: none;
}

footer {
    font-size: 2vh;
    position: absolute;
    right: 5vw;
    bottom: 6vw;
    text-align: right;
    width: clamp(20em, 40vw, 90vw);
}

nav {
    position: fixed;
    right: 5vw;
    bottom: 5vw;
    color: black;
    z-index: 10;
}

.footer-opened {
    display: inline-block;
    background-color: rgb(255, 255, 255, 0.93);
    padding: 2vw 2vw 4vw 2vw;
    border-radius: 1vw;
}

.nav-opened {
    color: lightgreen;
}

nav:hover {
    text-decoration: underline;
}

footer p {
    display: none;
    position: relative;
    top: 4vw;
    right: -2vw;
}

.warning {
    position: relative;
    top: 3vw;
    font-size: clamp(1.8vh, 2.4vw, 2.4vh);
    ;
    background-color: var(--varcolor);
    color: white;
    width: 25em;
    border-radius: 0.5em;
    padding: 1em;
    width: 100%;
    box-sizing: border-box;
}

.warning p {
    margin: 0;
}

.warning button {
    float: right;
    border: none;
    width: fit-content;
    padding: 0;
    position: relative;
    top: -1vw;
    font-size: 1.3em;
    color: white;
}

.warning button:hover {
    color: black;
}

@media (min-aspect-ratio: 10/13) {

    .gridContainer {
        grid: 35vh 35vh / 35vh 35vh;
    }

    h1 {
        margin-top: clamp(1px, 10vw, 6vh);
    }

    figcaption {
        top: 39.5vh;
    }

    .end-message {
        top: clamp(1px, 25vw, 30vh);
    }

    figure button {
        top: -27vh;
    }

}

@media (min-aspect-ratio: 10/11) {

    .gridContainer {
        grid: 35vh 35vh / 35vh 35vh;
        position: relative;
        top: -11.5vh;
    }

    figcaption {
        top: 29vh;
    }

    .end-message {
        padding: clamp(1px, 16vw, 16vh);
        top: clamp(1px, 25vw, 20vh);
    }

    figure button {
        top: -38vh;
    }

}
